
.course_type1{
    width: 799px;
    margin-bottom: 60px;
    font-family: '微软雅黑';
}
.course_type1 .course_total_title{
    color: #333;
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}
.course_type1 .course_total_title i{
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: #44b336;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 10px;
}
.course_type1 .course_total_title span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}
.course_type1 .course_slider {
    width: 100%;
    height: 182px;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
}
.course_type1 .slider-unit {
        height: 182px;
    }
.course_type1 .slider-unit .item {
    height: 100%;
    overflow: hidden;
}
.course_type1 .slider-unit .item .left{
    float: left;
    margin-right: 25px;
}
.course_type1 .slider-unit .item .right{
    float: left;
    width: 470px;
    overflow: hidden;
}
.course_type1 .item .left img{
    width: 271px;
    height: 182px;
    border: none;
}
.course_type1 .item .left a{
    display: block;
    position: relative;
}
.course_type1 .item .left a i{
    display: inline-block;
    width: 88px;
    height: 88px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -44px;
    background-image: url(http://i2.w.hjfile.cn/doc/201510/f44ff9f3272f4cc7bc10df49fe38da08.png);
}
.course_type1 .item .left a:hover i{
    background-image: url(http://i2.w.hjfile.cn/doc/201510/0548ea789e12494693dfe1719439fd64.png);
}
.course_type1 .item .short_name{
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
    color: #44b336;
    text-decoration: none;
    max-width: 340px;
    overflow: hidden;
    height: 24px;
    *height: 32px;
    *line-height: 32px;
}
.course_type1 .item .right .title{
    color: #44b336;
    margin-bottom: 5px;
    margin-top: 15px;
}
.course_type1 .item .period{
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #44b336;
    border-radius: 10px;
    vertical-align: middle;
}
.course_type1 .item .sub_title{
    font-size: 18px;
    color: #666;
    width: 470px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap; 
    word-break:break-all;
}
.course_type1 .item .time{
    font-size: 16px;
    color: #999;
    line-height: 22px;
}
.course_type1 .item .free_linner{
    width: 128px;
    height: 36px;
    line-height: 36px;
    background-color: #f87018;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    margin-top: 23px;
    text-decoration: none;
}
.course_type1 .item .free_linner i{
    display: inline-block;
    background-image: url(http://i2.w.hjfile.cn/doc/201510/d03b491c3bef46a68f6d7d800c878476.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    margin-left: 6px;
    *vertical-align: middle;
}
.course_type1 .right_hover{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 66;
    height: 182px;
    width: 8px;
    overflow: hidden;
}
.course_type1 .right_hover li{
    list-style: none;
    width: 8px;
    height: 34px;
    background-color: #d6d6d6;
    margin-bottom: 3px;
    cursor: pointer;
    float: left;
}
.course_type1 .right_hover li.active{
    background-color: #88ce7f;
}

.course_type2{
    width: 680px;
    margin-bottom: 60px;
    font-family:'微软雅黑';
}
.course_type2 .course_total_title{
    color: #333;
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}
.course_type2 .course_total_title i{
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: #44b336;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 10px;
}
.course_type2 .course_total_title span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    font-weight: bold;
}
.course_type2 .course_slider {
    width: 100%;
    height: 182px;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
}
.course_type2 .slider-unit {
        height: 182px;
    }
.course_type2 .slider-unit .item {
    height: 100%;
    overflow: hidden;
}
.course_type2 .slider-unit .item .left{
    float: left;
    margin-right: 25px;
}
.course_type2 .slider-unit .item .right{
    float: left;
    width: 355px;
    overflow: hidden;
}
.course_type2 .item .left img{
    width: 271px;
    height: 182px;
    border: none;
}
.course_type2 .item .left a{
    display: block;
    position: relative;
}
.course_type2 .item .left a i{
    display: inline-block;
    width: 88px;
    height: 88px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -44px;
    background-image: url(http://i2.w.hjfile.cn/doc/201510/f44ff9f3272f4cc7bc10df49fe38da08.png);
}
.course_type2 .item .left a:hover i{
    background-image: url(http://i2.w.hjfile.cn/doc/201510/0548ea789e12494693dfe1719439fd64.png);
}
.course_type2 .item .short_name{
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
    color: #44b336;
    text-decoration: none;
    max-width: 255px;
    overflow: hidden;
    height: 24px;
    *height: 32px;
    *line-height: 32px;
}
.course_type2 .item .right .title{
    color: #44b336;
    margin-bottom: 5px;
    margin-top: 15px;
}
.course_type2 .item .period{
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #44b336;
    border-radius: 10px;
    vertical-align: middle;
}
.course_type2 .item .sub_title{
    font-size: 18px;
    color: #666;
    width: 355px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap; 
    word-break:break-all;
}
.course_type2 .item .time{
    font-size: 16px;
    color: #999;
    line-height: 22px;
    padding-left: 0;
}
.course_type2 .item .free_linner{
    width: 128px;
    height: 36px;
    line-height: 36px;
    background-color: #f87018;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    margin-top: 23px;
    text-decoration: none;
}
.course_type2 .item .free_linner i{
    display: inline-block;
    background-image: url(http://i2.w.hjfile.cn/doc/201510/d03b491c3bef46a68f6d7d800c878476.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    margin-left: 6px;
    *vertical-align: middle;
}
.course_type2 .right_hover{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 66;
    height: 182px;
    width: 8px;
    overflow: hidden;
}
.course_type2 .right_hover li{
    list-style: none;
    width: 8px;
    height: 34px;
    background-color: #d6d6d6;
    margin-bottom: 3px;
    cursor: pointer;
    float: left;
}
.course_type2 .right_hover li.active{
    background-color: #88ce7f;
}
.course_type3{
    width: 600px;
    font-family: '微软雅黑';
    margin-bottom: 60px;
}
.course_type3 .course_total_title{
    color: #333;
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}
.course_type3 .course_total_title i{
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: #44b336;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 10px;
}
.course_type3 .course_total_title span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}
.course_type3 .course_slider {
    width: 100%;
    height: 154px;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
}
.course_type3 .slider-unit {
        height: 154px;
    }
.course_type3 .slider-unit .item {
    height: 100%;
    overflow: hidden;
}
.course_type3 .slider-unit .item .left{
    float: left;
    margin-right: 15px;
}
.course_type3 .slider-unit .item .right{
    float: left;
    width: 325px;
    overflow: hidden;
}
.course_type3 .item .left img{
    width: 230px;
    height: 154px;
    border: none;
}
.course_type3 .item .left a{
    display: block;
    position: relative;
}
.course_type3 .item .left a i{
    display: inline-block;
    width: 88px;
    height: 88px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -44px;
    background-image: url(http://i2.w.hjfile.cn/doc/201510/f44ff9f3272f4cc7bc10df49fe38da08.png);
}
.course_type3 .item .left a:hover i{
    background-image: url(http://i2.w.hjfile.cn/doc/201510/0548ea789e12494693dfe1719439fd64.png);
}
.course_type3 .item .short_name{
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
    color: #44b336;
    text-decoration: none;
    max-width: 225px;
    overflow: hidden;
    height: 20px;
    *height: 24px;
    *line-height: 24px;
}
.course_type3 .item .right .title{
    color: #44b336;
    margin-bottom: 5px;
    margin-top: 13px;
}
.course_type3 .item .period{
    font-size: 12px;
    line-height: 19px;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #44b336;
    border-radius: 10px;
    vertical-align: middle;
}
.course_type3 .item .sub_title{
    font-size: 16px;
    color: #666;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap; 
    word-break:break-all;
}
.course_type3 .item .time{
    font-size: 14px;
    color: #999;
    line-height: 22px;
    padding-left: 0;
}
.course_type3 .item .free_linner{
    width: 119px;
    height: 32px;
    line-height: 32px;
    background-color: #f87018;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
}
.course_type3 .item .free_linner i{
    display: inline-block;
    background-image: url(http://i2.w.hjfile.cn/doc/201510/d03b491c3bef46a68f6d7d800c878476.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    margin-left: 6px;
    vertical-align: -1px;
    *vertical-align: middle;
}
.course_type3 .right_hover{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 66;
    height: 154px;
    width: 8px;
    overflow: hidden;
}
.course_type3 .right_hover li{
    list-style: none;
    width: 8px;
    height: 28px;
    background-color: #d6d6d6;
    margin-bottom: 3px;
    cursor: pointer;
    float: left;
}
.course_type3 .right_hover li.active{
    background-color: #88ce7f;
}
.bx-controls{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 8px;
    height: 34px;
}
.bx-pager-item{
    float: left;
    width: 8px;
    text-align: center;
}
.bx-pager-item .active{
    color: #88ce7f;
    background-color: #88ce7f;
}
.bx-pager-item a{
    text-decoration: none;
    width: 8px;
    height: 34px;
    background-color: #d6d6d6;
    color: #d6d6d6;
    display: inline-block;
    margin-bottom: 3px;
}